.call-to-action {
  position: relative;
  background-color: white;
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.mb-4, .my-4 {
  margin-bottom: 1.5rem!important;
  color: black;
}

