<% provide(:title, "Log in") %>

<section class="showcase">
<div class="container-fluid p-0">
    <div class="row no-gutters">
        <div class="col" style="padding: 20px;margin: 20px;">
            <h1 class="main-heading">Login to your courseApp Account</h1>
        </div>
    </div>
    <div class="row login-form">
        <div class="col-md-4 offset-md-4">
            <form class="custom-form"> 
                <div class="form-group"><input class="form-control" type="email" placeholder="Email"></div>
                <div class="form-group"><input class="form-control" type="password" placeholder="Password"></div><button class="btn btn-light btn-block submit-button" type="button">Login</button></form>
        </div>
    </div>
</div>
</section>