<% provide(:title, "Log in") %>
<section class="showcase">
<div class="container-fluid p-0">
    <div class="row no-gutters">
        <div class="col" style="padding: 20px;margin: 20px;">
            <h1 class="main-heading">Login to your courseApp Account</h1>
        </div>
    </div>
    <%= render 'form' %>
</div>
</section>
