<% provide(:title, "Edit Course") %>
<% provide(:button_text, "Update Course") %>
<section class="showcase">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col" style="padding: 20px;margin: 20px;">
        <h1 class="main-heading">Add Course for courseApp</h1>
      </div>
    </div>
    <div class="row login-form">
      <div class="col-md-4 offset-md-4">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</section>