<style>
html {
  background-image: linear-gradient(
    to right top,
    #a1d723,
    #aedc49,
    #bae266,
    #c6e781,
    #d2ec9a
  );
  height: 100%;
}

body {
  font-family: "Roboto Mono", monospace;
}

.numContainer {
  position: relative;
  margin: 0 auto;
  text-align: center;
  padding-top: 80px;
  width: 500px;
}

.num {
  position: relative;
  display: inline-block;
  padding: 0 20px;
  background-image: linear-gradient(
    to right top,
    #000000,
    #1e1e1e,
    #373737,
    #515151,
    #6d6d6d
  );
  border-radius: 5px;
  color: white;
  font-size: 8rem;
  height: auto;
  perspective: 1000px;
  transition: all 0.3s linear;
  margin-left: -6px;
  margin-right: -6px;
  -webkit-box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.4) inset;
  box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.4) inset;
  font-family: "Roboto Condensed", sans-serif;
}

.space {
  display: inline-block;
}

.bit {
  height: 10px;
  width: 6px;
  border-radius: 25px;
  background-image: linear-gradient(
    to right top,
    #000000,
    #1e1e1e,
    #373737,
    #515151,
    #6d6d6d
  );
  display: inline-block;
  margin-bottom: 39px;
}

p {
  margin: 0;
}

hr {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  border: 1px solid black;
  border-left: 0 solid white;
  border-right: 0 solid white;
}

.day {
  display: inline-block;
  font-size: 2em;
  bottom: 0;
}

button {
  margin-top: 20px;
  background-color: black;
  border-radius: 5px;
  padding: 15px 20px;
  color: white;
  transition: all 0.6s ease;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: black;
  transform: scale(0.9);
}
</style>


<div class="numContainer">
  <div class="bit"></div>
  <div class="num four">
    <p>5</p>
    <hr>
  </div>
  <div class="bit"></div>
  <div class="bit"></div>
  <div class="num five">
    <p>0</p>
    <hr>
  </div>
  <div class="bit"></div>
  <div class="bit"></div>
  <div class="num nine">
    <p>0</p>
    <hr>
  </div>
  <div class="bit"></div>
  <p></p>
  <h2>Time to wake up the IT department - you've reached a 500 error.</h2>
  <p>We do apologize about this. Something has gone wrong. Our team of sleep deprived specialists will be right on it.
  </p>
</div>