<style>
* { font-family:verdana; text-align:center; }

#title {
  font-size:80px;
}

#other {
  font-size:30px;
}
</style>

<p id="title" title="error code: 0x000b3dcv: H̶̨͟͠҉e͘͘͜͜'̛͢s҉͏̢ ̷͡c̶̨̕o̕m͜͠į͢͞n̕͠͞͡g͢͏̴ ">ಠ_ಠ</p>
<p id="other" title="error code: 0x000b3dcv: H̶̨͟͠҉e͘͘͜͜'̛͢s҉͏̢ ̷͡c̶̨̕o̕m͜͠į͢͞n̕͠͞͡g͢͏̴ ">404. Nothing to see here - move on</p>

<%= link_to "Go Back to home", root_path %>